// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../variables/**/*";

.l-page {
    margin: 0 auto;

    @include breakpoint($sm-phone, true){
        max-width: $sm-phone;
    }
    @include breakpoint($phone, true){
        max-width: $phone;
    }
    @include breakpoint($tab-mini, true){
        max-width: $tab-mini;
    }
    @include breakpoint($tab-portrait, true){
        max-width: $tab-portrait;
    }
    @include breakpoint($tab-landscape, true){
        max-width: $tab-landscape;
    }
    @include breakpoint($desk, true){
        max-width: $desk;
    }
}