/* Created by Artisteer v4.0.0.58475 */

#art-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #3D9CFA;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 21px;
   margin:0 auto;
   height:28px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-postcontent p
{
   margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 26px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #067FF9;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #3D9CFA;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #E2341D;
}

.art-postcontent h1
{
   color: #067FF9;
   margin: 10px 0 0;
   font-size: 31px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 31px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 31px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #067FF9;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 26px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #38FFFF;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #022950;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 22px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #022950;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 18px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #0561BD;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #000000;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object924798578 h1, 
.art-object924798578 h2, 
.art-object924798578 h3, 
.art-object924798578 h4, 
.art-object924798578 h5, 
.art-object924798578 h6, 
.art-object924798578 p, 
.art-object924798578 a, 
.art-object924798578 ul, 
.art-object924798578 ol, 
.art-object924798578 li
{
  line-height: 125%;
}

.art-object924798578
{  
  position: absolute;
  top: 51px;
  left: 92.7%;
  margin-left: -102px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    z-index: 2;
  width: 111px;
  height: 28px;
}

.art-object924798578-text
{
font-size: 14px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-variant: small-caps;
text-align: left;
  color: #03407C !important;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  word-wrap: break-word;
  height: 28px;
  width: 111px;  
}

.art-textblock ul > li
{
    background-position-y: 0px !important;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 31px;
  left: 7.55%;
  line-height: 100%;
  margin-left: -51px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 72px;
font-family: Aladin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-shadow: 1.4px 1.4px 5px rgb(79, 79, 79);
  padding: 0;
  margin: 0;
  color: #E2341D !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 123px;
  left: 0%;
  line-height: 100%;
  margin-left: -1px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 16px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #022B55 !important;
}






.art-sheet
{
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 960px;
   z-index: auto !important;
}

.art-header
{
   margin:0 auto;
   height: 170px;
   background-image: url('images/object924798578.png'),url('images/object1441757417.png'), url('images/header.png');
   background-position: 787px 51px,706px 30px, 0 0;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .art-header 
{
   background-image: url('images/header.png');
   background-position: center center;
}

.art-header > .region, .art-header > .block 
{
   position:absolute;
   z-index:101;
}

.art-nav
{
   border-bottom:1px dotted #82BEDE;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
   text-align: center;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.art-nav:before 
{
   content:' ';
}

.art-hmenu-extra1
{
   position : absolute;
   left: 0;
   top: 0;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: absolute;
   right: 0;
   top: 0;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 10px;
}
ul.art-hmenu>li:first-child {
   margin-left: 5px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 5px;
}

ul.art-hmenu>li>a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 41px;
   cursor: pointer;
   text-decoration: none;
   color: #3F9ACA;
   line-height: 41px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 19px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
   color: #0566C7;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #E2341D;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #8FFFFF;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 10px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 2px;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 28px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 28px;
   color: #033363;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 28px;
   color: #033363;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.desktop-nav ul.art-hmenu>li>ul>li
{
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav .art-hmenu>li>ul>li>a
{
   font-weight: bold !important;
}
.desktop-nav .art-hmenu>li>ul>li
{
   float: left;
}
.desktop-nav .art-hmenu>li>ul>li>ul
{
   position: relative;
   left: 0 !important;
   right: auto !important;
   padding: 0 !important;
   margin: 0 !important;
}
.desktop-nav .art-hmenu>li:hover>ul>li>ul
{
   visibility: visible;
}
.desktop-nav .art-hmenu>li>ul>li>ul:before
{
   visibility: hidden;
}

ul.art-hmenu li li:after
{
   display: block;
   position: absolute;
   content: ' ';
   height: 0;
   top: -1px;
   left: 0;
   right: 0;
   z-index: 1;
   border-bottom: 1px dotted #7AFFFF;
}

.desktop-nav ul.art-hmenu>li>ul>li:after, 
.desktop-nav ul.art-hmenu>li>ul>li:before
{
   display: none;
}
.desktop-nav ul.art-hmenu li li:after
{
   left: 5px;
   right: 5px;
}

ul.art-hmenu ul li a:hover
{
   background: #82BEDE;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
}

.art-hmenu ul li a:hover
{
   color: #E2341D;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #E2341D;
}

ul.art-hmenu ul:before
{
   background: #D3E8F3;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px dotted #82BEDE;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 16px 36px 36px 36px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 36px 18px 36px 36px;
   margin: -36px -5px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 4px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover,
.desktop-nav ul.art-hmenu>li.ext:hover>a,
.desktop-nav ul.art-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 0 17px 0 17px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #03407C;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover:before,
.desktop-nav ul.art-hmenu>li.ext:hover>a:before,
.desktop-nav ul.art-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #D3E8F3;
   border: 1px Dotted #82BEDE;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul 
{
   padding-top: 5px;
   /* menu bar padding */
  margin-top: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -1px;
   clip: rect(6px, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.art-hmenu>li.ext>.ext-r,
ul.art-hmenu>li.ext>.ext-l,
ul.art-hmenu>li.ext>.ext-m,
ul.art-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop-nav ul.art-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 6px;
   top: 100%;
   padding-top: 1px;
   margin-top: -1px;
/* border width + shadow */}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-r:before,
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #D3E8F3;
   border: 1px Dotted #82BEDE;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 1px;
   margin-right: -1px;
/* only shadow */}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -1px;
   border-top-left-radius: 0;
   border-top-right-radius: 4px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 1px;
   margin-left: -1px;
/* only shadow */}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -1px;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 4px;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m, 
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 5px;
   top: 100%;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m:before, 
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -1px;
   bottom: -1px;
   /* shadow offset */
  background-color: #D3E8F3;
   border: 1px Dotted #82BEDE;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -1px;
   left: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -1px;
   right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -1px;
   right: -1px
;
}

.art-layout-wrapper
{
   position: relative;
   margin: 20px auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-vmenublock
{
   background: #E7F2F9;
   border:1px solid #82BEDE;
   padding:7px;
   margin:3px;
}
div.art-vmenublock img
{
   margin: 0;
}

.art-vmenublockheader
{
   padding:10px 0;
   margin:0 auto;
}
.art-vmenublockheader .t,
.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited, 
.art-vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.art-vmenublockcontent
{
   margin:0 auto;
}

ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.art-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.art-vmenu ul.active
{
   display: block;
}

ul.art-vmenu>li>a
{
   padding:0 15px;
   margin:0 auto;
   color: #3F9ACA;
   min-height: 30px;
   line-height: 30px;
}
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li
{
   margin-top: 0;
}
ul.art-vmenu>li>ul
{
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
ul.art-vmenu>li:first-child
{
   margin-top:0;
}

ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   text-decoration: underline;
}

ul.art-vmenu a:hover, ul.art-vmenu a.active:hover 
{
   color: #E2341D;
}

ul.art-vmenu>li>a.active:hover>span.border-top, ul.art-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.art-vmenu>li>a.active
{
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #0678EA;
}

ul.art-vmenu>li>ul:before
{
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.art-vmenu li li a
{
   margin:0 auto;
   position: relative;
}
ul.art-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.art-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.art-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 22px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 22px;
   color: #1B4B65;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a:visited, ul.art-vmenu ul a.active:hover, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active
{
   line-height: 22px;
   color: #1B4B65;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul ul a
{
   padding-left: 54px;
}
ul.art-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.art-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.art-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.art-vmenu ul>li>a:hover, ul.art-vmenu ul>li>a.active:hover
{
   margin:0 auto;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a.active:hover
{
   text-decoration: underline;
   color: #E2341D;
}

ul.art-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.art-vmenu ul>li>a.active
{
   margin:0 auto;
}
ul.art-vmenu ul a.active, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #0678EA;
}

.art-block
{
   background: #E7F2F9;
   border:1px solid #82BEDE;
   padding:7px;
   margin:3px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.art-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #000000;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 150%;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #000000;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 150%;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #0678EA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #0678EA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #E2341D;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}
.art-block li
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   color: #0079DB;
   margin: 5px 0 0 10px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 28px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #25698D;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 21px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #C2FFFF !important;
}

.art-button.hover, .art-button:hover
{
   background: #328DBD;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 21px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #C7E2F0 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #82BEDE;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #005252 !important;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #FFFFFF;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #005252 !important;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #82BEDE;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #005252 !important;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   margin:0 auto;
   color: #022446 !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.art-checkbox:before
{
   background: #C2FFFF;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #8EBCCC;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #B9DBFD;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #FFFFFF;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #8EBCCC;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #B9DBFD;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   border: 2px solid #82BEDE;
   margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #03407C;
   margin: 5px 10px;
   font-size: 29px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 29px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #1F8CF9;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #1AFFFF;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #0079DB;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #0454A4;
}

.art-postheadericons
{
   display:inline-block;
   padding: 1px;
   margin: 0 0 0 10px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #0459AE;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #0459AE;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #0079DB;
}

.art-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #000000;
   margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 16px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -16px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #60ADFB url('images/postquote.png') no-repeat scroll;
   border:4px solid #EBF4FA;
   padding:10px 10px 10px 38px;
   margin:10px 0 0 25px;
   color: #EBF4FA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #EBF4FA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.art-footer
{
   border-top:1px dotted #82BEDE;
   padding:25px;
   margin:20px auto 0;
   position: relative;
   color: #000000;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #000000;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #62ADD5;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #00FFFF;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #0079DB;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer li
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #00A8A8;
}

.art-footer ul>li, .art-footer ol
{
   padding: 0;
}

.art-footer ul>li
{
   padding-left: 13px;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #0675E5;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #000000;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-sidebar1
{
   border-right:1px dotted #82BEDE;
   margin:0 auto;
   width: 200px;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

.art-content-layout .art-sidebar2
{
   border-left:1px dotted #82BEDE;
   margin:0 auto;
   width: 200px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
/*body.art-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: {bgColor} !important;
	{editorFont}
}*/
/*
use editor.css
*/
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	display: inline;
}

ul.arttabs_primary li:before, ul.arttabs_secondary li:before
{
    content: ' ';
	margin-left: 6px;
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: {bgColor} !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

form.comment-form input[type="submit"], form.confirmation input[type="submit"]
{
	margin-right: 10px !important;
}

/* BEGIN Taxonomy terms Artisteer styles in Drupal 7 */
.art-tags, .art-tags .field, .art-tags .field .field-label,
.art-tags .field .field-items, .art-tags .field .field-items .field-item
{
	display: inline;
}

.art-tags .field-item a:after
{
	content: ', ';
}

.art-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms Artisteer styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.art-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.art-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 transparent;
    background-position: center left;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #art-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal; 
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

/* BEGIN Rtl support in Admin menu */
#toolbar, #toolbar *
{
    text-align: left;
}

#toolbar ul li, #toolbar ul li a {
    float: left;
}
/* END Rtl support in Admin menu */

/* BEGIN Contextual links styles support */
ul.contextual-links li
{
   background-image: none !important;
   padding-left: 4px !important;
}

ul.contextual-links li a
{
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 12px !important;
   text-align: left !important;
   text-decoration: none !important;
}
/* END Contextual links styles support */

/* BEGIN Rtl support for Contextual links */
a.contextual-links-trigger
{
    text-indent: 90px !important;
}
/* END Rtl support for Contextual links */

/* BEGIN Superfish support */
.art-blockcontent .sf-menu.sf-style-default li 
{
    margin: 0;
    padding: 0;
}
/* END Superfish support */

.status, .status ul li
{   
    color: #234600;
}

.error, .error ul li
{
	color: #660000;
}

/* Begin Drupal Search style */
.art-header .art-search label
{
    display: none;
}

.art-search div.form-item
{
    margin: 0;
}

#block-system-main form.art-search {
  line-height: normal !important;
}
.art-search .fieldset-wrapper .action input[type="submit"] {
  background-image: none;
}

#block-system-main form.art-search {
  line-height: normal !important;
}
.art-search .fieldset-wrapper .action input[type="submit"] {
  background-image: none;
}

.art-blockcontent .art-search .container-inline label,
.art-postcontent .art-search .container-inline label {
  display: none;
}
/* End Drupal Search style */