/*
Error: File to import not found or unreadable: variables/**\/*.
       Load path: E:/wamp/www/drupal-test/sites/all/themes/olender/sass
        on line 2 of ./olender.normalize.scss

1: // Import the legacy variables (relevant for controlling compass-normalize).
2: @import "variables/**\/*";
3: 
4: // Generate normalize.css.
5: @import "normalize";
6: 
7: // Use 'border-box' for the box model.

Backtrace:
./olender.normalize.scss:2
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/import_node.rb:66:in `rescue in import'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/import_node.rb:45:in `import'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `map'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `each'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:291:in `watch'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin.rb:108:in `method_missing'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/exec/base.rb:40:in `parse'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/exec/base.rb:19:in `parse!'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.0/bin/sass:13:in `<top (required)>'
C:/RailsInstaller/Ruby1.9.3/bin/sass:23:in `load'
C:/RailsInstaller/Ruby1.9.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variables/**/*.\A        Load path: E:/wamp/www/drupal-test/sites/all/themes/olender/sass\A         on line 2 of ./olender.normalize.scss\A \A 1: // Import the legacy variables (relevant for controlling compass-normalize).\A 2: @import \"variables/**/*\";\A 3: \A 4: // Generate normalize.css.\A 5: @import \"normalize\";\A 6: \A 7: // Use 'border-box' for the box model."; }
